.DataTable {
    align-items: left;
    background-color: #e7e7e7;
    max-width: 800px;
    padding-top: 25px;
    margin-top: 20px;
    margin-left: 10px;
}

.DataTable-Container {
  height: 50%;
}

.thead-dark {
  background-color: #2d2d2d;
}

.th-light {
  color: antiquewhite;
}

.Container {

}