.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .form {
    background-color: #f3eeeb78;
    border-radius: 12px;
    padding: 28px;
    width: 400px;
  }
  
  .title {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
    text-align: center;
  }
  
  .input-group {
    margin-bottom: 24px;
  }
  
  .input {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    padding: 12px;
    width: 100%;
  }
  
  .button {
    background-color: #003f82ba;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 24px;
    padding: 12px;
    width: 100%;
  }
  
  .button:hover {
    background-color: #003f82e3;
  }
  
  .button:focus {
    outline: none;
    box-shadow: 0px 0px 0px 3px rgba(0, 123, 255, 0.3);
  }
  
  .button:active {
    background-color: #006be0;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
  }